@model WebStore.Domain.Entities.SoftWares
@{
    ViewBag.HideSidebar = true;
    var bestOffers = ViewBag.BestOffers as List<WebStore.Domain.Entities.BestOfferViewModel>;
    var ratingCounts = ViewBag.RatingCounts as Dictionary<int, int>;
    int totalReviews = ViewBag.ReviewCount;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model.Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/Content/style.css">

</head>

<body>
    <div class="container-fluid">
        <div class="top-section">
            <div id="carouselExampleIndicators" class="carousel slide image-section" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="data:image/jpeg;base64,@(Model.Photo1 != null ? Convert.ToBase64String(Model.Photo1) : "")" class="d-block w-100" alt="@Model.Name">
                    </div>
                </div>
            </div>
            <div class="details-section">
                <h1>@Model.Name</h1>
                @if (ViewBag.ReviewCount > 0)
                {
                    <div class="rating">
                        @{
                            var fullStars = (int)ViewBag.AverageRating;
                            var halfStar = ViewBag.AverageRating - fullStars >= 0.5;
                        }
                        @for (int i = 0; i < fullStars; i++)
                        {
                            <span>★</span>
                        }
                        @if (halfStar)
                        {
                            <span>☆</span>
                        }
                        @for (int i = fullStars + (halfStar ? 1 : 0); i < 5; i++)
                        {
                            <span>☆</span>
                        }
                        ( @ViewBag.ReviewCount отзыв(ов) )
                    </div>
                }
                <div class="description">
                    @Model.Description
                </div>
                <div class="price-section">
                    @if (Model.Copy_Count < 20)
                    {
                        var increasedPrice = Model.Price * 1.3m;
                        <span class="text-danger" style="text-decoration: line-through;">₽@increasedPrice.ToString("# руб")</span>
                        <br />
                    }
                    <span>₽@Model.Price</span>
                </div>
                <div class="actions-section" >
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.HiddenFor(x => x.ID_SoftWare)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        @Html.Hidden("softId", @Model.ID_SoftWare)
                        <input type="submit" class="btn" value="В Корзину" style="padding: 30px, 40px; font-size: large;" />
                    }
                </div>

            </div>
        </div>
        <div class="description-full-section">
            <h2>Описание</h2>
            <p>@Model.LongDescription</p>
        </div>
        <div class="specs-offers">
            <div class="specs">
                <h2>Характеристики</h2>
                <div class="spec-item">
                    <div><i class="fas fa-hdd"></i> Вес (Гб)</div>
                    <div>@Model.Weight_GB</div>
                </div>
                <div class="spec-item">
                    <div><i class="fas fa-desktop"></i> Операционная система</div>
                    <div>@Model.OS</div>
                </div>
                <div class="spec-item">
                    <div><i class="fas fa-memory"></i> ОЗУ (Гб)</div>
                    <div>@Model.RAM</div>
                </div>
                <div class="spec-item">
                    <div><i class="fas fa-memory"></i> Продаж</div>
                    <div>@Model.Count_Sale</div>
                </div>
            </div>
            <div class="offers">
                <h2>Лучшие предложения</h2>
                @foreach (var item in bestOffers)
                {
                    <div class="spec-item" style="display: grid; grid-template-columns: 3fr 4fr 1fr;">
                        <a href="@Url.Action("Details", "Web", new { softId = item.Software.ID_SoftWare })">
                      
                            <h4>@item.Software.Name</h4>
                        </a>
                        <div class="rating" style="margin-left: 20px;">
                            @{
                                var fullStars = (int)item.AverageRating;
                                var halfStar = item.AverageRating - fullStars >= 0.5;
                            }
                            @for (int i = 0; i < fullStars; i++)
                            {
                                <span>★</span>
                            }
                            @if (halfStar)
                            {
                                <span>☆</span>
                            }
                            @for (int i = fullStars + (halfStar ? 1 : 0); i < 5; i++)
                            {
                                <span>☆</span>
                            }
                        </div>
                        <p>₽@item.Software.Price</p>
                    </div>
                }
            </div>
        </div>
        <div class="review-section">
            <h2>Отзывы</h2>
            <div class="review-summary">
                <div class="average-rating">
                    <span>@ViewBag.AverageRating</span>
                    <div class="rating-stars">
                        @for (int i = 0; i < (int)ViewBag.AverageRating; i++)
                        {
                            <span>★</span>
                        }
                        @for (int i = (int)ViewBag.AverageRating; i < 5; i++)
                        {
                            <span>☆</span>
                        }
                    </div>
                    <div class="rating-count">( @ViewBag.ReviewCount отзыв(ов) )</div>
                </div>
                <div class="rating-distribution">
                    @foreach (var rating in ratingCounts)
                    {
                        <div class="rating-bar">
                            <span>@rating.Key ★★★★★</span>
                            <div class="bar">
                                @{
                                    var percentage = totalReviews > 0 ? (double)rating.Value / totalReviews * 100 : 0;
                                }
                                <div class="fill" style="width: @percentage%;"></div>
                            </div>
                            <span>@rating.Value</span>
                        </div>
                    }
                </div>
            </div>
            <div class="review-form">
                @using (Html.BeginForm("AddReview", "Web", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("softId", @Model.ID_SoftWare)
                    <div>
                        <label>Ваша оценка:</label>
                        <div class="rating-input" style="flex-direction: row-reverse; margin-right: 1730px;">
                            @for (int i = 5; i >= 1; i--)
                            {
                                <input type="radio" name="rating" value="@i" id="rating-@i" />
                                <label for="rating-@i"></label>
                            }
                        </div>
                    </div>
                    <div>
                        <label>Ваш отзыв *</label>
                        <textarea name="reviewText" required></textarea>
                    </div>
                    <div>
                        <label>Имя *</label>
                        <input type="text" name="userName" required />
                    </div>
                    <div>
                        <label>Email *</label>
                        <input type="email" name="userEmail" required />
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </div>
                }
            </div>
            <div class="review-list">
                @foreach (var review in Model.Review.OrderByDescending(r => r.Date))
                {
                    <div class="review-item">
                        <div>
                            <strong>@review.User</strong>
                            <span>@review.Date.ToShortDateString()</span>
                        </div>
                        <div class="rating">
                            @for (int i = 0; i < review.Rating; i++)
                            {
                                <span>★</span>
                            }
                            @for (int i = review.Rating; i < 5; i++)
                            {
                                <span>☆</span>
                            }
                        </div>
                        <div>@review.Text</div>
                    </div>
                }
            </div>
        </div>
    </div>

</body>
</html>
